doctype
html(ng-app="myApp")
	head
		title= title
		meta(charset="utf-8")
		link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/admin.css")

	body(ng-controller="myController")
		include layouts/header.pug
		
		.main
			h3 {{hello}}
			p Components là nơi chứa các page khác
			

			script(src="/libs/angular/angular.min.js")
			script(src="/js/index_module.js")
